@media only screen and (min-width:1000px){
#root{
    padding: 0;
    margin:0;
    overflow-x: hidden;
}
@font-face{
    font-family: miriamBold;
    src:url("./Miriam_Libre/MiriamLibre-Bold.ttf")
}
@font-face{
    font-family: miriamRegular;
    src:url("./Miriam_Libre/MiriamLibre-Regular.ttf");
}
@font-face{
    font-family:luckiest_Guy;
    src:url("./Luckiest_Guy/LuckiestGuy-Regular.ttf")
}
h1{
    font-family: miriamBold;
}
/*Navigation */

nav{
    display: flex;
    min-width: 100%;
    flex-wrap: wrap;
    font-family:miriamBold ;
    height: 70px;
    justify-content: space-between;
    position: fixed;
    
}
nav.active{
    background-color: white;
    height: 70px;
}

.mainNavParentDiv{
    position: sticky;
    top:0;
    z-index: 1000;
}
.mobileSideNav{
    display: none;
}
nav ul{
    height: 70px;
    margin-top: 0;
    justify-content: space-between;
    display: flex;
    margin-right: 50px;
    
}
.mainLogoAnchor-active{
    height: 70px;
    margin-left: 25px;
}
.mainLogoAnchor-inactive{
    visibility: hidden;
    height:70px;
}
.mainLogo{
    height: 100%;

}
nav li{
    display: inline-block;
    line-height: 70px;
    padding-left: 50px;
    font-size:1.5vw;
}
.mobileMenu{
    display:none;
}

/*Wrapper */
.loadingMobileBanner, .mobileBanner{
    display: none;
}
.landingPage{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
    background-image: url("./Media/LandingPageImage.jpg");
    background-size: 100% 100%;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}

.landingPage a,.landingPage img{
    height:20%;
    width: 20%;
    border-radius:15px;
    margin-right: 5%;
    margin-top: 30px;
}
.landingPage h1{
    margin-right: 50px;
    width:40%;
    margin-top: 50px;
    font-family: miriamBold;
    font-size:2.5vw;
}
.landingPage h2{
    margin-right: 50px;
    width:40%;
    font-family: miriamBold;
    font-size:2vw;
}

.thumbs-wrapper{
    display: none;
}
nav a:hover{
    border-bottom: 2px solid rgba(0,149,5,0.66);
}
nav a{
    color: black;
}
#MainGallery{
    height: calc(100vh - 120px);
    border:5px solid green;
    width:95%;
    margin:auto;
    border-radius: 15px;
}
#MainGallery img{
    height: calc(100vh - 120px);
    width: 100%;
}
#MainGallery section{
    border-radius: 15px;
}

.contactDetails{
    font-size: 15px;
    margin-right: 5%;
    margin-left: auto;
    display: grid;
    grid-template-columns: 50px calc(100%-50px);
    grid-template-rows: 1fr 1fr;
    margin: auto auto;
    grid-template-areas:
        "icon number1"
        ". number2";
    padding-top: 1px;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    font-family:miriamRegular;
    padding-bottom: 2.5%;
}
/* Products Page */

.productsDiv{
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
.products-gallery{
    width: 18%;
    background-color: #D9D9D9;
    height: 320px;
    margin-left: 5%;
    position:relative;
}
.products-gallery p{
    position:absolute;
    bottom:0;
    width:100%;
    height: 40px;
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.products-gallery:hover{
    box-shadow: 15px -15px 15px grey;
    border: 5px solid rgba(0,149,5,0.66);
}    
.productName{
    position:absolute;
    bottom: 0;
}
.atchaarSection{
    grid-area:atchaar;
}
.dyeSection{
    grid-area:dye;
}
.spiceSection{
    grid-area:spice
}
.productSection{
    padding-top: 150px;
    height: 100vh;
}
.productsHeading, .contactSection h1{
    
    margin-left: 75px;
    font-size: 30px;
    font-weight:bold

}
.productSubheading1, .contactSection h2{
    margin-top: 25px;
    margin-left: 75px;
}
h1{
    margin-top:0;
    padding-top:2%;
}
.contactDiv{
    display: grid;
    grid-template-columns:1fr 1fr;
    width:80%;
    margin: 50px auto;
    font-family:miriamBold
}
form{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-areas:
        "nameLabel nameInput"
        "telLabel telInput"
        "mailLabel mailInput"
        "msgLabel msgInput"
        "button button";
    grid-gap:15%;
}
input,textarea{
    border:3px solid green;
    border-radius:15px;
    width:75%;
    font-weight:bold;
    justify-self:'start';
}
label{
    font-size:20px;
    text-align: left;
}
#googleMapsSection{
    
    width:80%;
    height: 100%;
    margin:auto auto;
}
.contactSection{
    min-height:100vh;
    padding-top: 150px;
    background-color: white;
}
#nameLabel{
    grid-area:nameLabel
}
#telLabel{
    grid-area: telLabel;
}
#mailLabel{
    grid-area: mailLabel;
}
#mgsLabel{
    grid-area:msgLabel;
}
#nameinput{
    grid-area:nameInput
}
#telInput{
    grid-area:telInput
}
#mailInput{
    grid-area: mailInput;
}
#msgInput{
    grid-area: msgInput;
    height: 150px;
}
button{
    grid-area: button;
    width:20%;
    margin:0 auto;
    height:150%;
    background-color: green;
    font-weight:bolder;
    text-transform: uppercase;
    color:white;
    cursor:pointer;
    border-radius: 10px;
}

.banana-front,.atchaar-front,.atchaarDye-front,.atchaarSpice-front{
    position: relative;
    width:220px;
    margin: 0 auto;

}
.viewMore{
    position: absolute;
    bottom: 25%;
    top:25%;
    left:25%;
    right:25%;
    background-image:url(./Media/viewMore.png);
    background-size: contain;
    z-index: 2;
    opacity:0;
    
}
.control-arrow{
    width:5%;
}
.banana-front:hover .viewMore, .atchaar-front:hover .viewMore, .atchaarDye-front:hover .viewMore, .atchaarSpice-front:hover .viewMore{
    opacity: 1;
    transition: 0.5s ease-in-out;
    
}
.ReelPages .card{
    height: 100%;

}
.rec-item-wrapper .card img{
    margin-top: 10%;
    border:groove 10px #d0f2bd;
}
.ReelPages{
    width: 85%;
    margin:auto auto;

}
    .productWrapper{
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        min-height: calc(100vh);
        font-family:miriamRegular;
        display: flex;
        background-color: #d0f2bd;
        align-items: center;
    }
        
}






