@media only screen and (min-width:768px) and (max-width:1000px){
    #root{
        padding: 0;
        margin:0;
        overflow-y: visible;
        overflow-x: hidden;
    }
    @font-face{
        font-family: miriamBold;
        src:url("./Miriam_Libre/MiriamLibre-Bold.ttf")
    }
    @font-face{
        font-family: miriamRegular;
        src:url("./Miriam_Libre/MiriamLibre-Regular.ttf");
    }
    h1{
        font-family: miriamBold;
    }
    /*Navigation bar*/
    nav{
        display: flex;
        min-width: 100vw;
        flex-wrap: wrap;
        background-color: transparent;
        font-family:miriamBold ;
        height: 50px;
        
        
    }
    .mainNavParentDiv{
        position: fixed;
        top:0;
        z-index: 1000;
    }
    .mobileMenu{
        display:none;
    }
    .mobileSideNav{
        display:none;
    }
    nav ul{
        height: 50px;
        margin-left:auto;
        margin-right: 5vw;
    }
    nav li{
        display: inline-block;
        line-height: 50px;
        padding-left: 25px;
        font-size:15px
    }
    .mainLogoAnchor-active{
        height: 50px;
        margin-left: 25px;
    }
    .mainLogoAnchor-inactive{
        visibility: hidden;
        height: 50px;
        
    }
    .mainLogo{
        height: 100%;
    
    }
    nav a{
        color: black;
    }
    nav.active{
        background-color: white;
        height: 70px;
    }
    .wrapper{
        width: 100%;
        margin: 0 auto;
        min-height: 100vh;
        font-family:miriamRegular;
        padding-bottom: 2.5%;
    }
    .landingPage{
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        overflow: hidden;
        background-image: url("./Media/Landing\ Page\ image.png");
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
    }
    
    .landingPage img{
        height:20%;
        width: 20%;
        border-radius:15px;
        margin-right: 5%;
        margin-top: 0px;
    }
    .landingPage h1{
        margin-right: 50px;
        width:40%;
        margin-top: 50px;
        font-family: miriamBold;
        font-size:2.5vw;
    }
    .landingPage h2{
        margin-right: 50px;
        width:40%;
        font-family: miriamBold;
        font-size:2vw;
    }
    
    .thumbs-wrapper{
        display: none;
    }
    nav a:hover{
        border-bottom: 2px solid rgba(0,149,5,0.66);
    }
    #MainGallery{
        height: calc(100vh - 120px);
        border:5px solid green;
        width:95%;
        margin:auto;
        border-radius: 15px;
    }
    #MainGallery img{
        height: calc(100vh - 120px);
        width: 100%;
    }
    #MainGallery section{
        border-radius: 15px;
    }
    
    .productsDiv{
        display:grid;
        width:80%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "banana atchaar"
            "dye spice";
        font-family: miriamBold;
        padding-top:25px;
    }
    .bananaSection{
        grid-area:banana;
        visibility:visible;
    }
    .atchaarSection{
        grid-area:atchaar;
    }
    .dyeSection{
        grid-area:dye;
    }
    .spiceSection{
        grid-area:spice
    }
    .productsDiv img{
        width:150px;
        height:150px;
        border:solid 7.5px  green;
        border-radius:20px;
    }
    .productsHeading{
        font-size:25px;
    }
    .productSection{
        background-color: #d0f2bd;
        min-height:100vh;
    }
    .productsHeading, .contactSection h1{
        padding-top: 75px;
    }
    h1{
        margin-top:0;
        padding-top:2%;
    }
    .contactDiv{
        display: grid;
        grid-template-columns:1fr 1fr;
        width:90%;
        margin: 10% auto;
        font-family:miriamBold;
    }
    form{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas:
            "nameLabel nameInput"
            "telLabel telInput"
            "mailLabel mailInput"
            "msgLabel msgInput"
            "button button";
        grid-gap:10%;
    }
    input,textarea{
        border: groove 3px #35EF2E;
        width:75%;
        font-weight:bold;
    }
    label{
        font-size:15px;
        text-align: left;
    }
    #googleMapsSection{
        
        width:60%;
        height: 100%;
        margin:auto auto;
    }
    .contactSection{
        min-height:120vh;
        margin: 0 auto;
        background-color: #d0f2bd;
    }
    .contactSection h1{
        font-size:25px;
    }
    .contactSection h2{
        font-size:20px;
    }
    #nameLabel{
        grid-area:nameLabel
    }
    #telLabel{
        grid-area: telLabel;
    }
    #mailLabel{
        grid-area: mailLabel;
    }
    #mgsLabel{
        grid-area:msgLabel;
    }
    #nameinput{
        grid-area:nameInput
    }
    #telInput{
        grid-area:telInput
    }
    #mailInput{
        grid-area: mailInput;
    }
    #msgInput{
        grid-area: msgInput;
        height: 150px;
    }
    button{
        grid-area: button;
        width:20%;
        margin:0 auto;
        height:150%;
        background-color: green;
        font-weight:bolder;
        text-transform: uppercase;
        color:white;
        cursor:pointer;
    }
    
    #aboutUs{
        font-family:miriamBold;
        width:80%;
        margin: 0 auto;
    }
    
    .card{
        
        height: 100%;
        width:100%;
        align-items: center;
        margin: 0 auto;
        color:white;
    
    
    }
    .card img{
        width:80%;
    }
    .CarouselDiv{
        width:80%;
        margin:0 auto;
    }
    .banana-front,.atchaar-front,.atchaarDye-front,.atchaarSpice-front{
        position: relative;
        width:150px;
        margin: 0 auto;
    
    }
    .viewMore{
        position: absolute;
        bottom: 25%;
        top:25%;
        left:25%;
        right:25%;
        background-image:url(./Media/viewMore.png);
        background-size: contain;
        z-index: 2;
        opacity:0;
        
    }
    .control-arrow{
        width:5%;
    }
    .banana-front:hover .viewMore, .atchaar-front:hover .viewMore, .atchaarDye-front:hover .viewMore, .atchaarSpice-front:hover .viewMore{
        opacity: 1;
        transition: 0.5s ease-in-out;
        
    }
    .ReelPages .card{
        height: 100%;
        
    
    }
    .rec-item-wrapper .card img{
        margin-top: 10%;
        border:groove 5px #d0f2bd;
    }
    .ReelPages{
        width: 85%;
        margin:auto auto;
    }
    .productWrapper{
        width: 100%;
        margin: 0 auto;
        min-height: calc(100vh - 75px);
        font-family:miriamRegular;
        display: flex;
        flex-direction: column;
        background-color: #d0f2bd;
        align-items: center;
    }
    .sc-bdfBwQ{
        height: 25px;
        min-width:20px;
        text-align: center;
        line-height:25px;
        font-size: 100%;
    }
    }